{:source-paths ["src"]

 :dependencies [[reagent "0.8.1"]
                [re-frame "0.10.6"]
                [secretary "1.2.3"]]

 :builds {:main {:target :node-script
                 :output-to "resources/main.js"
                 :main marko.main/main}

          :app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "js"

                :modules {:app {:entries [marko.app]}}

                :devtools {:before-load marko.app/stop
                           :after-load marko.app/start}}}}

